@import './node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
$pageBackground: #fdfcfc;
$brandNameColor: #006573;
$activeTabColor: #b5153e;
$cardImageBg: #5cbedc;
$orderButtonColor: #158eb5;
$footerBg: #161a1d;
$footerTextColor: #999999;
$heroSubtextColor: #4f4f4f;

@mixin button-style {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: $orderButtonColor;
    color: $pageBackground;
    font-size: 1.25em;

    &:hover {
        cursor: pointer;
        background-color: rgba($orderButtonColor, 0.8);
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    background-color: $pageBackground;
}

.logo-position {
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transition: all 0.25s ease;

    &__logo {
        width: 64px;
        height: 64px;
    }

    &__brand-name {
        margin-left: 5px;
    }

    .hamburger {
        display: none;
        z-index: 4;
        @media (max-width: 768px) {
            display: block;
        }
    }
}

.nav {
    height: 100%;
    display: flex;
    align-content: stretch;
    @media (max-width: 768px) {
        display: none;
        width: 100%;
        height: 100vh;
        z-index: 3;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        background-color: $pageBackground;
    }

    &__element {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        text-decoration: none;
        padding: 10px;
        flex-grow: 2;

        &:hover {
            cursor: pointer;
        }

        &--active {
            font-size: 1.25em;
            font-weight: 700;
            color: $activeTabColor;
        }
    }
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 80px;
    }
}

.home {
    background-image: url('images/bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;

    @media (max-width: 768px) {
        background-image: none;
    }

    &__center-elements {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
        flex-grow: 2;

        .hero {
            width: 30%;
            padding: 5px;
            @media (max-width: 768px) {
                width: 100%;
            }

            &__text {
                font-size: 2.5em;
            }

            &__subtext {
                font-size: 0.9em;
                color: $heroSubtextColor;
            }
        }

        .cupcakes-image {
            width: 50%;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__mouse-icon {
        width: 32px;
        position: absolute;
        //left: 50%;
        top: 92%;
        //transform: translate(-50%, -50%);
        animation: mouse-animation 2s infinite;

        &:hover {
            cursor: pointer;
        }
    }
}

.about,
.proposal {
    &__cards {
        flex-grow: 2;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        gap: 20px;

        &--align-top {
            align-items: start;
        }

        &--max-width {
            width: 100%;
        }
    }
}

.catering {
    &__description {
        width: 80%;
        padding: 10px;

        @media (max-width: 768px) {
            width: 100%;
            font-size: 0.8em;
        }

        &__final-statement {
            text-align: center;
            font-weight: 700;
        }
    }

    &__order-button {
        @include button-style;
        margin-top: 50px;
    }
}

.footer {
    width: 100%;
    background-color: $footerBg;
    color: $footerTextColor;
    padding: 5px;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__part {
        width: 50%;
        padding: 5px;

        &__title {
            color: $pageBackground;
            font-size: 1.1em;
        }
    }

    &__socials {
        &__item {
            width: 32px;
            margin: 5px 10px;

            &:first-of-type {
                margin-left: 0;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__credits {
        width: 100%;
        border-top: 1px solid #444444;
        padding: 5px;

        & > a {
            color: $footerTextColor;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &__image {
        width: 64px;
        height: 64px;
        border-radius: 32px;
        padding: 10px;
        background-color: $cardImageBg;
        fill: #fff;
    }

    &__product-image {
        width: 128px;

        @media (max-width: 768px) {
            width: 64px;
        }
    }

    &__title--bold {
        font-weight: 700;
    }
}

.book-order {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);

    .form {
        width: 80%;
        height: 50%;
        background-color: $pageBackground;
        border: 1px solid #e2e2e2;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;

        &__close-button {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 5px;
            right: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        &__input {
            width: 200px;
            height: 28px;
            padding: 5px;
            border: 1px solid #b3b3b3;
            border-radius: 14px;
        }

        &__button {
            @include button-style;
            height: 35px;
            margin: 10px 0;
        }
    }
}

.fixed {
    position: fixed;
    background-color: $pageBackground;
    border-bottom: 1px solid #e2e2e2;
    z-index: 2;
}

.visible {
    display: flex;
}

.lock-scroll {
    overflow-y: hidden;
}

@keyframes mouse-animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}
