/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
          transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
          transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  background-color: #fdfcfc;
}

.logo-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.header__logo {
  width: 64px;
  height: 64px;
}

.header__brand-name {
  margin-left: 5px;
}

.header .hamburger {
  display: none;
  z-index: 4;
}

@media (max-width: 768px) {
  .header .hamburger {
    display: block;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    top: 0;
    background-color: #fdfcfc;
  }
}

.nav__element {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.nav__element--button {
  width: 120px;
  height: 40px;
  font-family: "Comfortaa", cursive;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #0d5bf2;
  border: none;
  border-radius: 20px;
}

.nav__element--button:hover {
  cursor: pointer;
  background-color: rgba(13, 91, 242, 0.8);
}

.section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__title {
  margin-top: 80px;
}

.home {
  background-image: url("images/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0;
}

@media (max-width: 768px) {
  .home {
    background-image: none;
  }
}

.home__center-elements {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.home__center-elements .hero {
  width: 30%;
  padding: 5px;
}

@media (max-width: 768px) {
  .home__center-elements .hero {
    width: 100%;
  }
}

.home__center-elements .hero__text {
  font-size: 2.5em;
}

.home__center-elements .hero__subtext {
  font-size: 0.9em;
  color: #4f4f4f;
}

.home__center-elements .cupcakes-image {
  width: 50%;
}

@media (max-width: 768px) {
  .home__center-elements .cupcakes-image {
    display: none;
  }
}

.home__mouse-icon {
  width: 32px;
  position: absolute;
  left: 50%;
  top: 92%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: mouse-animation 2s infinite;
          animation: mouse-animation 2s infinite;
}

.home__mouse-icon:hover {
  cursor: pointer;
}

.about__cards,
.proposal__cards {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 20px;
}

.about__cards--align-top,
.proposal__cards--align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about__cards--max-width,
.proposal__cards--max-width {
  width: 100%;
}

.catering__description {
  width: 80%;
  padding: 10px;
}

@media (max-width: 768px) {
  .catering__description {
    width: 100%;
    font-size: 0.8em;
  }
}

.catering__description__final-statement {
  text-align: center;
  font-weight: 700;
}

.catering__order-button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #158eb5;
  color: #fdfcfc;
  font-size: 1.25em;
  margin-top: 50px;
}

.catering__order-button:hover {
  cursor: pointer;
  background-color: rgba(21, 142, 181, 0.8);
}

.footer {
  width: 100%;
  background-color: #161a1d;
  color: #999999;
  padding: 5px;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__part {
  width: 50%;
  padding: 5px;
}

.footer__part__title {
  color: #fdfcfc;
  font-size: 1.1em;
}

.footer__socials__item {
  width: 32px;
  margin: 5px 10px;
}

.footer__socials__item:first-of-type {
  margin-left: 0;
}

.footer__socials__item:hover {
  cursor: pointer;
}

.footer__credits {
  width: 100%;
  border-top: 1px solid #444444;
  padding: 5px;
}

.footer__credits > a {
  color: #999999;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.card__image {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  padding: 10px;
  background-color: #5cbedc;
  fill: #fff;
}

.card__product-image {
  width: 128px;
}

@media (max-width: 768px) {
  .card__product-image {
    width: 64px;
  }
}

.card__title--bold {
  font-weight: 700;
}

.book-order {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.book-order .form {
  width: 80%;
  height: 50%;
  background-color: #fdfcfc;
  border: 1px solid #e2e2e2;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.book-order .form__close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.book-order .form__close-button:hover {
  cursor: pointer;
}

.book-order .form__input {
  width: 200px;
  height: 28px;
  padding: 5px;
  border: 1px solid #b3b3b3;
  border-radius: 14px;
}

.book-order .form__button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #158eb5;
  color: #fdfcfc;
  font-size: 1.25em;
  height: 35px;
  margin: 10px 0;
}

.book-order .form__button:hover {
  cursor: pointer;
  background-color: rgba(21, 142, 181, 0.8);
}

.fixed {
  position: fixed;
  background-color: #fdfcfc;
  border-bottom: 1px solid #e2e2e2;
  z-index: 2;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lockScroll {
  overflow-y: hidden;
}

@-webkit-keyframes mouse-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mouse-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */